.App {
  text-align: center;
  background: rgb(255,255,255);
  
  margin: auto;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #123;
  list-style-type: none;
}

.Header {
  font-size: 2em;
  font-family: 'Righteous', cursive;
  padding: .5em;
  margin: auto;
}
